.el-picker-panel {
    background: #1b3e6f !important;
    color: #ffffff;
    border: 0.0052rem solid #93bee7 !important;
}

.el-picker-panel .el-date-range-picker__time-header {
    border-bottom: 0.0052rem solid #93bee7 !important;
}

.el-picker-panel__icon-btn {
    width: 0.0417rem;
    height: 0.0521rem;
    color: #5a81fd !important;
}

.el-picker-panel .el-input__inner {
    background-color: #19466f;
    border: #75ebf2;
    color: #e8fdff;
}

.el-picker-panel .el-date-range-picker__content.is-left,
.el-picker-panel .el-date-range-picker__content.is-right {
    border-right: 0.0052rem solid #93bee7 !important;
    /* // background: url(./images/矩形.png) center center; */
    background-size: 100% 100%;
}

.el-picker-panel .el-date-range-picker__header {
    color: #75ebf2;
}

.el-picker-panel .el-date-table th {
    color: #c3e3ec;
}

.el-picker-panel .el-date-table td.available {
    width: 0.0729rem;
    height: 0.0729rem;
    font-size: 0.0833rem;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: #6ce6cb;
}

.el-picker-panel .el-date-table td.available:hover {
    color: #ffffff;
}

.el-date-table td.in-range div,
.el-date-table td.in-range div:hover,
.el-date-table.is-week-mode .el-date-table__row.current div,
.el-date-table.is-week-mode .el-date-table__row:hover div {
    background-color: #4c77b3 !important;
}

.el-time-panel {
    background-color: #1b3e6f !important;
    border: 0.0052rem solid #93bee7 !important;
}

.el-time-spinner__item {
    color: #c3e3ec !important;
}

.el-time-spinner__item:hover:not(.disabled):not(.active) {
    background: #4c77b3 !important;
}

.el-time-panel__btn {
    color: #adcfff !important;
}

.el-picker-panel__footer {
    background-color: #1b3e6f !important;
}

.el-input__icon{
    line-height: 0.0938rem;
}
.el-picker-panel .el-button {
    width: 0.1875rem;
    height: 0.0938rem;
    font-size: 0.0938rem;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: #1475e3;
}

.el-icon-d-arrow-left {
    color: #1475e3 !important;
}

.el-button.is-disabled,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover {
    color: #1475e3 !important;
    margin-left: -0.1042rem !important;
}

.el-button+.el-button {
    width: 0.4792rem;
    height: 0.2083rem;
    /* // background: url(./images/圆角矩形.png) center center !important; */
    background-size: 115% 130% !important;
    border: 0.0052rem solid #1475e3 !important;
    border-radius: 0.0208rem !important;
}

.el-button {
    width: 0.4792rem;
    height: 0.2083rem;
    border: 0.0052rem solid #1475e3;
    border-radius: 0.0208rem;
}

.el-button--text {
    display: none;
    width: 0.4792rem;
    height: 0.2083rem;
    border: 0.0052rem solid #1475e3;
    border-radius: 0.0208rem;
}

.el-button.is-disabled.is-plain,
.el-button.is-disabled.is-plain:focus,
.el-button.is-disabled.is-plain:hover {
    width: 0.4792rem;
    height: 0.2083rem;
    /* // background: url(./images/圆角矩形.png) center center !important; */
    background-size: 115% 130% !important;
    border: 0.0052rem solid #1475e3 !important;
    border-radius: 0.0208rem !important;
}

.el-button--text,
.el-button--text.is-disabled,
.el-button--text.is-disabled:focus,
.el-button--text.is-disabled:hover,
.el-button--text:active {
    display: none !important;
}

.el-date-table th {
    border-bottom: 0.0052rem solid #293f6f !important;
}


/* 时间筛选 */

.el-time-panel__content::after,
.el-time-panel__content::before {
    border-bottom: 0.0052rem solid #293f6f !important;
    border-top: 0.0052rem solid #293f6f !important;
}

.el-time-panel {
    background-color: #040d27 !important;
}

.el-time-panel__btn.confirm {
    background-color: #040d27 !important;
    color: #1475e3 !important;
}

.el-time-panel__btn.cancel {
    background-color: #040d27 !important;
    color: #6397d1 !important;
}

.el-time-panel__footer {
    border-top: none !important;
}

.el-time-panel {
    border: none;
    border-top: 0.0104rem solid #293f6f !important;
}

.el-date-picker__header-label {
    color: #fff;
}



.el-date-table td.disabled div {
    background-color: transparent !important;
  }